
@{
    ViewBag.Title = "Text Export to Excel Function";
}
<div class="container">
<h2>Welcome</h2>
<div style="padding 20px 20px 20px 20px;" >
@Html.ActionLink("Test Export To Excel Library", "TestExportToExcel","Home")
</div>
</div>
